@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Satoshi';
    src: url('../../public/assets/fonts/Satoshi-Black.ttf');
    font-weight: 900;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'Inter';
    src: url('../../public/assets/fonts/Inter-Thin.ttf');
    font-weight: 100;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'Inter';
    src: url('../../public/assets/fonts/Inter-ExtraLight.ttf');
    font-weight: 200;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'Inter';
    src: url('../../public/assets/fonts/Inter-Light.ttf');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'Inter';
    src: url('../../public/assets/fonts/Inter-Regular.ttf');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'Inter';
    src: url('../../public/assets/fonts/Inter-Medium.ttf');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'Inter';
    src: url('../../public/assets/fonts/Inter-SemiBold.ttf');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'Inter';
    src: url('../../public/assets/fonts/Inter-Bold.ttf');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'Inter';
    src: url('../../public/assets/fonts/Inter-ExtraBold.ttf');
    font-weight: 800;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'Inter';
    src: url('../../public/assets/fonts/Inter-Black.ttf');
    font-weight: 900;
    font-display: swap;
    font-style: normal;
  }
}